/*Hintergrund*/
body {
    background-image: url("bg.png");
    font-family: sans-serif;
}

.W1{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin-top: 100px;
    text-align: left;
}

.bilder {
    display: grid;
    grid-gap: 10px;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
}

.bilder>div {
    border-style: none;
    text-align: center;
    padding: 20px 0;
}

.bilder>div>img {
    border: 2px;
    border-style: none;
    max-width: auto;
    max-height: auto;
}